name: CD

on:
  push:
    tags:
      - '*'

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  cd:
    needs: ci
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        file: docker/Dockerfile_prod
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/microblog:${{ github.ref_name }}
